body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

section.title-banner {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 18px;
}

footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  float: left;
  display: block;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h3.footer-divisor {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 23px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  display: block;
}

#footer-links li {
  display: inline;
  font-size: 18px;
}

#footer-links a {
  text-decoration: none;
}

#footer-color {
  background-color: dimgray;
}
a {
  color: white;
}

span.copyright {
  font-size: 11px;
}
